* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf

*.joblib binary
*.parquet binary
*.pcap binary
*.pcapng binary
*.png binary
